.wrapper {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.buttonsBlock {
  @apply flex gap-6;
}

@media (min-width: 1280px) {
  .wrapper {
    padding: 0 2.5rem 0 2.5rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 0 8rem 0 8rem;
  }
}
