.headingItem {
  @apply min-h-[10rem] w-[100%] md:w-[20%] shadow-[0_0_15px_rgba(0,0,0,.15)] flex flex-col justify-evenly items-center relative;
}

.headingItem::before {
  position: absolute;
  left: 0;
  bottom: -2.75rem;
  z-index: -1;
  transform: rotate(180deg);
  border-width: 3rem;
  background-color: #dbd8d7;
  border-color: white;
  border-right-color: transparent;
  @apply hidden md:block;
}

.text {
  @apply mt-4;
}

.text p,
.text li {
  margin-bottom: 0.3em;
  @apply text-text-primary;
}