.images {
  @apply w-full md:w-[58.333%] h-[22rem] flex items-center justify-center;
}

@media (min-width: 640px) {
  .images {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    height: 24rem;
  }
}

@media (min-width: 768px) {
  .images {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 20rem;
  }
}

@media (min-width: 1024px) {
  .images {
    height: 26rem;
  }
}

@media (min-width: 1280px) {
  .images {
    height: 31rem;
  }
}
