.bgBlock::before {
  content: '';
  position: absolute;
  transform: translate(-50%) translateY(-70%);
  left: 50%;
  z-index: 1;
  width: 100%;
  height: calc(45% + 4rem);
  background-size: cover;
  @apply bg-bg-gray-100;
}
