.bg {
  @apply absolute -z-50 w-[233%] scale-[2.2] sm:scale-[1.4] md:scale-[1.6] translate-x-[-50%] translate-y-[-45%] md:translate-y-[-50%] top-[50%] left-[50%];
}

.animatedFirst {
  @apply w-auto h-auto absolute -z-30 block;
  animation: 1s linear forwards imageRight;
}

@keyframes imageRight {
  0% {
    transform: translateX(0%);
  }

  90% {
    transform: translateX(115%) translateY(-305%) scale(2.2);
  }

  100% {
    transform: translateX(110%) translateY(-300%) scale(2);
  }
}

.animatedSecond {
  @apply w-auto h-auto absolute -z-30 block;
  animation: 1s ease-out 1s forwards imageLeft;
}

@keyframes imageLeft {
  0% {
    transform: translateX(-1700%) translateY(-500%) rotate(50deg) scale(1);
    z-index: 0;
    opacity: 0.2;
  }

  50% {
    transform: translateX(-1200%) translateY(-10%) scale(2.4);
    z-index: 0;
    opacity: 0.9;
  }

  100% {
    transform: translateX(-1200%) translateY(-5%) scale(2.2);
    z-index: 0;
    opacity: 1;
  }
}

.animatedThird {
  @apply w-auto h-auto absolute -z-30 block;
  animation: 1s linear 2.5s forwards imageBotLeft;
}

@keyframes imageBotLeft {
  0% {
    transform: translateX(-200%) translateY(-400%) rotate(50deg) scale(1);
    z-index: 0;
    opacity: 0.2;
  }

  50% {
    transform: translateX(-20%) translateY(-115%) scale(2.2);
    z-index: 0;
    opacity: 0.9;
  }

  100% {
    transform: translateX(-15%) translateY(-110%) scale(2);
    z-index: 0;
    opacity: 1;
  }
}

.animatedFourth {
  @apply w-auto h-auto absolute -z-30 block;
  animation: 1s linear 4s forwards imageBotRight;
}

@keyframes imageBotRight {
  0% {
    transform: translateX(-300%) translateY(400%) rotate(50deg);
    z-index: 0;
    opacity: 0.2;
  }

  50% {
    transform: translateX(-50%) translateY(125%) scale(2.2);
    z-index: 0;
    opacity: 0.9;
  }

  100% {
    transform: translateX(-45%) translateY(120%) scale(2);
    z-index: 0;
    opacity: 1;
  }
}

.animatedFifth {
  @apply w-auto h-auto absolute -z-30 block;
  animation: 1s linear 5s forwards imageFifth;
}

@keyframes imageFifth {
  0% {
    transform: translateX(270%) translateY(200%) scale(1);
    z-index: 0;
    opacity: 0.2;
  }

  90% {
    transform: translateX(195%) translateY(105%) scale(2.2);
    z-index: 0;
    opacity: 0.9;
  }

  100% {
    transform: translateX(190%) translateY(100%) scale(2);
    z-index: 0;
    opacity: 1;
  }
}
